* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

@media (max-width: 575px) {
  body {
    font-size: 1.6rem;
  }
}

a {
  text-decoration: none;
}

main>div:first-child {
  position: relative;
  z-index: 1;
}

.logo-topo {
  background-color: #004270;
  box-shadow: 2px 1px 3px 0px #00000057;
}

.logo-topo img {
  margin: auto;
  display: block;
  padding: 5rem;
}

.nav_menu_principal {
  background-color: #004270;
}

.section-margin {
  margin: 10rem 0;
}

.heading {
  margin-bottom: 2rem;
}

.heading__primary {
  font-size: 3.2rem;
  font-weight: 700;
}

.heading__secondary {
  color: #004270;
  font-size: 1.6rem;
  font-weight: 700;
}

@keyframes scaleUpScaleDown {
  0% {
    transform: translateZ(-1px) scale(1);
  }

  80% {
    transform: translateZ(-1px) scale(1.4);
    opacity: 0.4;
  }

  100% {
    transform: translateZ(-1px) scale(1.5);
    opacity: 0;
  }
}

/* BANNER */

.banner {}

.banner-image {
  /* position: absolute; */
  width: 100%;
  height: 100% !important;
  top: 0;
  left: 0;
  object-fit: cover;
}

.btn--border-white {
  border: 1px solid #fff;
  border-radius: 0;
  padding: 1rem 2.5rem;
}

.intern__banner .banner-item {
  padding-bottom: 2rem;
  text-align: center;
}

.intern__banner .banner-title {
  text-transform: initial;
}

/* END BANNER */


.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1.2rem 1.6rem;
  line-height: 1;
  border-radius: 0;
  transition: all 0.2s;
}

.btn i {
  font-size: 2rem;
}

.btn--white {
  color: #fff;
}

.btn--white:hover {
  color: #fff;
}

.btn--bg-red {
  background-color: #004270;
}

.btn--bg-red:hover {
  background-color: #63090d;
}

.btn--bg-white {
  background-color: #fff;
}

.btn--bg-white:hover {
  background-color: #d9d9d9;
}

.btn--bg-gray {
  background-color: #666666;
}

.btn--bg-gray:hover {
  background-color: #404040;
}

.btn--bg-green {
  background-color: #25D366;
}

.btn--bg-green:hover {
  background-color: #1a9247;
}

.icon {
  width: 3.2rem;
  height: 3.2rem;
  font-size: 1.4rem;
  border: 1px solid #fff;
  border-radius: 50%;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.social__item {
  color: #fff;
}


.fixed-whatsapp {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #25d366;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transform-style: preserve-3d;
  transition: all 0.2s;
}

.fixed-whatsapp i {
  font-size: 2.8rem;
  color: #fff;
}

.fixed-whatsapp::after {
  content: "";
  position: absolute;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  background-color: #128C7E;
  z-index: -999;
  animation: scaleUpScaleDown 2s ease-in infinite both;
  transform: translateZ(-1px);
  filter: blur(1px);
}

.fixed-whatsapp:hover {
  transform: scale(1.2);
}

.footer {
  background-color: #004270;
  padding: 3.2rem;
  padding-bottom: 0;
  font-size: 1.6rem;
}

@media (max-width: 575px) {
  .footer {
    position: relative;
  }
}

.footer__logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.footer__logo img {
  width: 25rem;
  max-width: 100%;
}

.footer__items {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer__item {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.footer__item--phones {
  display: flex;
  flex-wrap: nowrap;
}

.footer__item--phones a {
  color: #fff;
}

.footer__item--phones-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.footer__social {
  justify-content: flex-end;
}

.footer__copyright {
  text-align: center;
  font-size: 1.2rem;
  padding: 1.2rem 2rem;
  background-color: #333333;
  color: #fff;
  text-transform: uppercase;
  margin-top: 3.2rem;
  width: calc(100% + 6.4rem);
  position: relative;
  left: -3.2rem;
}

@media (max-width: 767px) {
  .footer__logo {
    justify-content: center;
    padding-bottom: 3.2rem;
  }

  .footer__items {
    margin-bottom: 3.2rem;
  }

  .footer__social {
    justify-content: center;
  }
}

/* .header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
  font-size: 1.6rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
} */

@media (max-width: 991px) {
  .header {
    position: relative;
  }
}

@media (max-width: 991px) {
  .header-placeholder {
    height: 0;
  }
}

.header-contact {
  background-color: #fff;
  overflow: hidden;
  transition: all 0.2s;
}

.header-contact__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 0.4rem 0;
  flex-wrap: wrap;
}

@media (max-width: 575px) {
  .header-contact__content {
    justify-content: center;
  }
}

.header-contact__item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: #000;
}

.header-main {
  background-color: #f2f2f2;
}

.header-main__logo {
  position: relative;
  z-index: 1;
  height: 130%;
  width: 100%;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .header-main__logo {
    height: 100%;
    width: 100%;
    background-color: transparent;
    justify-content: space-between;
    padding: 2rem;
    gap: 2rem;
    box-shadow: none;
  }
}

.header-main__logo-bg {
  width: 100%;
  height: 100%;
  position: absolute;
}

@media (max-width: 991px) {
  .header-main__logo-bg {
    display: none;
  }
}

.header-main__logo a {
  width: 100%;
}

.header-main__logo a img {
  width: 110%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 991px) {
  .header-main__logo a img {
    width: 25rem;
    height: auto;
    top: 0;
    left: 0;
    position: relative;
    transform: translate(0, 0);
  }
}

@media (max-width: 575px) {
  .header-main__logo a img {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .header-nav {
    position: absolute;
    background-color: #004270;
    top: 100%;
    left: 0;
    width: 100%;
    transition: all 0.5s ease-out;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    z-index: -1;
  }
}

@media (max-width: 991px) {
  .header-nav.opened {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.header-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

@media (max-width: 991px) {
  .header-nav__list {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

@media (max-width: 991px) {
  .header-nav__list li {
    width: 100%;
    border-bottom: 1px solid #666666;
    text-align: center;
  }
}

.header-nav__list li a {
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 1.6rem;
  padding: 3rem 1.2rem;
  transition: all 0.2s;
  padding: 1rem;
}

@media (max-width: 991px) {
  .header-nav__list li a {
    width: 100%;
    padding: 1rem 0;
  }
}

/* .header-nav__list li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
  width: 0;
  height: 0.4rem;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
} */

.header-nav__list li a:hover {
  background-color: #000;
  font-weight: 500;
}

.header-nav__list li a:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}

.header-nav__list li.current-menu-item a {
  font-weight: 500;
}

.header-nav__list li.current-menu-item a::before {
  width: 100%;
  right: auto;
  left: 0;
}

.header-nav__btn {
  position: relative;
  left: 0;
  color: #004270;
  flex-direction: column;
  gap: 0.2rem;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  width: max-content;
  margin-left: auto;
  display: none;
}

@media (max-width: 991px) {
  .header-nav__btn {
    display: flex;
  }
}

.header-nav__btn>span {
  text-transform: uppercase;
  transition: all 0.2s;
}

.header-nav__icon {
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.header-nav__icon-bar {
  position: absolute;
  width: 80%;
  height: 0.6rem;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #004270;
  border-radius: 5px;
  transition: all 0.1s;
}

.header-nav__icon-bar--1 {
  top: 8px;
}

.header-nav__icon-bar--2 {
  top: 50%;
  transform: translate(-50%, -50%);
}

.header-nav__icon-bar--3 {
  bottom: 8px;
}

.header-nav__icon.opened+span {
  font-size: 1.6rem;
}

.header-nav__icon.opened .header-nav__icon-bar {
  height: 0.2rem;
}

.header-nav__icon.opened .header-nav__icon-bar--2 {
  opacity: 0;
  visibility: hidden;
}

.header-nav__icon.opened .header-nav__icon-bar--1 {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #004270;
}

.header-nav__icon.opened .header-nav__icon-bar--3 {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: #004270;
}

/* .banner {
  width: 100%;
  aspect-ratio: 19/8;
  position: sticky;
  top: 0;
  z-index: 0;
}

.banner__item {
  position: relative;
  width: 100%;
  aspect-ratio: 19/8;
  display: flex;
  align-items: stretch;
}

.banner__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.banner__content {
  height: 100%;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  max-width: 100%;
}

.banner__subtitle, .banner__title {
  color: #fff;
}

.text--white .banner__subtitle, .text--white .banner__title {
  color: #fff !important;
}

.text--black .banner__subtitle, .text--black .banner__title {
  color: #000 !important;
}

.banner__title {
  margin-bottom: 2rem;
  font-size: 4rem;
} */

@media (max-width: 991px) {
  .banner__title {
    font-size: 2.4rem;
  }
}

@media (max-width: 767px) {
  .banner__title {
    font-size: 2rem;
  }
}

@media (max-width: 575px) {
  .banner__title {
    font-size: 1.6rem;
  }
}

.banner__subtitle {
  font-size: 2rem;
  margin-bottom: 0.4rem;
}

@media (max-width: 991px) {
  .banner__subtitle {
    font-size: 2rem;
  }
}

@media (max-width: 767px) {
  .banner__subtitle {
    font-size: 1.6rem;
  }
}

@media (max-width: 575px) {
  .banner__subtitle {
    font-size: 1.2rem;
  }
}

.banner__link {
  font-size: 2rem !important;
}

@media (max-width: 991px) {
  .banner__link {
    font-size: 1.6rem !important;
  }
}

@media (max-width: 767px) {
  .banner__link {
    font-size: 1.6rem !important;
  }
}

@media (max-width: 575px) {
  .banner__link {
    font-size: 1.2rem !important;
  }
}

.banner .owl-dots {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
}

.banner .owl-dots .owl-dot span {
  background-color: #ccc;
}

.banner .owl-dots .owl-dot:hover span {
  background-color: #004270;
}

.banner .owl-dots .owl-dot.active span {
  background-color: #004270;
}

.banner .owl-prev,
.banner .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.banner .owl-prev {
  left: 2%;
}

.banner .owl-next {
  right: 2%;
}

.banner .owl-nav {
  height: 0 !important;
  margin: 0 !important;
}

.banner .owl-nav [class*=owl-] {
  width: 3.2rem;
  height: 3.2rem;
  background-color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem !important;
  opacity: 0.5;
  transition: all 0.2s;
}

.banner .owl-nav [class*=owl-]:hover {
  background-color: #e6e6e6 !important;
  opacity: 1;
  color: #000;
  text-decoration: none;
}

.breadcrumb {
  margin-top: 5rem;
  color: #898989;
  font-size: 1.4rem;
  margin-bottom: -6rem;
}

.breadcrumb-item a {
  color: #898989;
}

.breadcrumb-item a:hover {
  color: #616161;
}

.breadcrumb-item.active {
  font-weight: 500;
  color: #898989;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: "\f0da" !important;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #454545;
}

.home {
  overflow-x: hidden;
}

.container {
  max-width: 1170px;
}

.servicos {
  position: relative;
  top: -10rem;
}

.servicos h1 {
  font-size: 2.0rem;
  color: #fff;
  text-align: center;
}

.servicos p {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}

.servico-item {
  padding: 1.5rem;
  font-size: 2.0rem;
  background-color: #004270;
}

.servico-item button {
  margin: auto;
  display: block;
  background-color: #a0d9f7;
  border: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: #fff;
}

.btn-servico {}

.nossa-historia h2 {
  color: #004270;
  font-size: 2.0rem;
  font-weight: bold;
}

.nossa-historia h3 {
  color: #004270;
  font-size: 2.5rem;
  font-weight: bold;
}

.nossa-historia p {
  padding: 1rem 0 0 0;
}

.nossa-historia img {
  object-fit: cover;
  width: 100%;
}

.normas {
  margin: 2rem 0 0 0;
  padding: 5rem;
}

.normas h2 {
  padding: 0 0 2rem 0;
  color: #004270;
  font-size: 3.0rem;
  font-weight: bold;
}

.normas-items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.normas-item {
  background-color: #004270;
  padding: 1rem 1rem;
  color: #fff;
  margin-left: 1rem;
  text-align: center;
}

.normas button {
  background-color: #004270;
  color: #fff;
  display: block;
  margin: auto;
  border: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.nossos-projeto_blocos {
  display: flex;
}

.nossos-projetos {
  margin: 5rem 0 5rem 0;
}

.nossos-projeto {
  width: 50%;
  background-color: #004270;
  padding: 1.5rem;
  height: 30rem;
  position: relative;
  top: 3rem;
}

.nossos-projeto h2 {
  color: #fff;
  font-size: 2.0rem;
  font-weight: bold;
}

.nossos-projeto h3 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
}

.nossos-projeto p {
  color: #fff;
  padding: 1rem 0 0 0;
}

.nossos-projeto button {
  border: none;
  background-color: #fff;
  color: #004270;
  font-weight: bold;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.nossos-projeto_img {
  background-color: #004270;
  width: 50%;
  height: 35rem;
}

.nossos-projeto_img img {}

/*# sourceMappingURL=main.css.map */