$white: #fff;
$black: #000;

$red-600: #CC3333;
$red-500: #a91017;

$gray-800: #333333;
$gray-600: #666666;
$gray-100: #f2f2f2;

$green-whatsapp-500: #25d366;
$green-whatsapp-700: #128C7E;

$font-size-xs: 1.2rem;
$font-size-sm: 1.4rem;
$font-size-md: 1.6rem;
$font-size-lg: 1.8rem;
$font-size-xl: 2rem;

$heading-size-sm: 2.8rem;
$heading-size-md: 3.2rem;
$heading-size-lg: 4rem;