@use "../abstract";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  // overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: abstract.$font-size-lg;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;

  @include abstract.max-575 {
    font-size: abstract.$font-size-md;
  }
}

a {
  text-decoration: none;
}

main > div:first-child {
  position: relative;
  z-index: 1;
}
